/Automotora-ejb/build/
/Automotora-war/build/
/Automotora-ejb/dist/
Automotora-war/nbproject/build-impl.xml

Automotora-ejb/nbproject/project.properties

Automotora-ejb/nbproject/private/private.properties

*.properties

Automotora-war/nbproject/private/private.properties

Automotora-war/nbproject/project.properties

nbproject/private/private.properties

nbproject/project.properties

Automotora-ejb/nbproject/build-impl.xml
/build/
/Automotora-war/dist/
*.class
/Automotora-war_noPrimeFaces/nbproject/private/
Automotora-war/nbproject/private/private.xml

Automotora-war/nbproject/project.properties

Automotora-war/nbproject/project.properties
/Automotora_-war/nbproject/private/
/Automotora_-war_1/nbproject/private/
/ProyectoAutomotora/nbproject/private/
/ProyectoAutomotora/ProyectoAutomotora-ejb/nbproject/private/
/ProyectoAutomotora-war/nbproject/private/
/ProyectoAutomotora-ejb/nbproject/private/
/ProyectoAutomotora-war_ups/nbproject/private/